name: Packer Build

on:
  push:
    branches: [ main ]

jobs:
  buildPackerFile:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: |
          mvn -B package --file pom.xml

      - name: Packer Build
        run: packer build ./packer/aws-debian.pkr.hcl
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          SOURCE_AMI: ${{ vars.SOURCE_AMI }}
          SSH_USERNAME: ${{ vars.SSH_USERNAME }}
          SUBNET_ID: ${{ vars.SUBNET_ID }}