name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-health-check:
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: demo
      DB_USER: root
      DB_PASSWORD: Qq18284530122

    steps:
      - uses: actions/checkout@v3
      - name: Start MySQL Service
        run: |
          sudo systemctl start mysql
          mysql -uroot -proot --connect-expired-password -e "Alter user 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'Qq18284530122'"
          mysql -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }} -e 'CREATE DATABASE ${{ env.DB_DATABASE }};' 

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: |
          mvn -B package --file pom.xml
      # using maven to run spring boot application
      - name: Run health check
        env:
          DATABASE_NAME: csye6225
          DATABASE_USERNAME: root
          DATABASE_PASSWORD: Qq18284530122
          DATABASE_ENDPOINT: 127.0.0.1
        run: |
          timeout --signal=SIGINT 5m mvn spring-boot:run &
          sleep 30  # Give the application some time to start
          response=$(curl --write-out '%{http_code}' --silent --output /dev/null http://localhost:8080/healthz)
          if [[ "$response" -ne 200 ]] ; then
            echo "Health check failed with HTTP status code $response"
            exit 1
          fi

#      - name: zip
#        run:
#          zip -r webapp.zip ../webapp

      - name: Packer Validation
        run: |
          packer fmt ./packer/aws-debian.pkr.hcl
          packer validate ./packer/aws-debian.pkr.hcl
          

      - name: Packer Build
        run: packer build ./packer/aws-debian.pkr.hcl
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_REGION: ${{ variables.AWS_REGION }}
          SOURCE_AMI: ${{ variables.SOURCE_AMI }}
          SSH_USERNAME: ${{ variables.SSH_USERNAME }}
          SUBNET_ID: ${{ variables.SUBNET_ID }}
          
          
          


