
name: Packer Validation

on:

  pull_request:
    branches: [ main ]

jobs:
  checkPackerFile:
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: demo
      DB_USER: root
      DB_PASSWORD: Qq18284530122

    steps:
      - uses: actions/checkout@v3
      - name: Start MySQL Service
        run: |
            sudo systemctl start mysql
            mysql -uroot -proot --connect-expired-password -e "Alter user 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'Qq18284530122'"
            mysql -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }} -e 'CREATE DATABASE ${{ env.DB_DATABASE }};' 


      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: |
          mvn -B package --file pom.xml

      - name: Packer Validation
        run: |
          packer fmt packer/aws-debian.pkr.hcl
          packer validate packer/aws-debian.pkr.hcl


                


