
name: Packer Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  checkPackerFile:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Packer Validation
        run: |
          packer fmt ./packer/aws-debian.pkr.hcl
          packer validate ./packer/aws-debian.pkr.hcl


                


